<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>StrupatForm</string>
    <key>uuid</key>
    <string>d4f0c8a7-3e5b-4a1f-9c2d-6b8e7f0a1d3c</string>
</dict>
</plist>
